@font-face {
    font-family: 'Alkalami';
    font-style: normal;
    src: local('Alkalami Regular'), url('../assets/font/Alkalami-Regular.woff2') format('woff2'),
        url('../assets/font/Alkalami-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Gulzar';
    font-style: normal;
    src: local('Gulzar'), url('../assets/font/Gulzar-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    src: local('IBM Plex Sans Regular'), url('../assets/font/ibmplexsans-regular-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'MuktaMahee';
    font-style: normal;
    src: local('Mukta Mahee'), url('../assets/font/muktamahee-regular-webfont.woff2') format('woff2');
}
body {
    font-family: 'IBMPlexSans';
}